asn1crypto==0.24.0
certifi==2018.11.29
cffi==1.12.1
chardet==3.0.4
Click==7.0
cryptography==2.5
future==0.17.1
huepy==0.9.8.1
idna==2.8
instabot==0.28.0
itsdangerous==1.1.0
Pillow==5.4.1
pycparser==2.19
pyOpenSSL==19.0.0
PySocks==1.6.8
python-dotenv==0.10.1
requests==2.21.0
requests-toolbelt==0.9.1
responses==0.10.6
schedule==0.6.0
six==1.12.0
tqdm==4.31.1
urllib3==1.24.1
